<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>pagina</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body class="container mt-4 alert alert-info">
    <div class="mb-4 alert alert-primary display-4 text-center">
        SEMINARIO
    </div>
    <div>
        <a href="listado" class="btn btn-success mt-3">Seminarios</a>
        <a href="agregar" class="btn btn-success mt-3">Agregar</a>
        <a href="agregarinstitucion" class="btn btn-success mt-3">Agregar institucion</a>
        <a href="inscritos" class="btn btn-success mt-3">InscritosAPI</a>
        <a href="institucionapi" class="btn btn-success mt-3">InstitucionAPI</a>
        <a href="usuario" class="btn btn-success mt-3">Usuario</a>
    </div>
</body>
</html>